/* Footer */
.footer {
  text-align: center;

  max-height:20%;
}


.footer{
	padding:1em 10em;
	background:#333;
	color:white;
	
}
.footer-left ul{
	padding:0;
	margin:0;
}
.footer-left ul li{
	display:inline-block;
	margin:0 1em;
}
.footer-left ul li:nth-child(1){
	margin-left:0;
}
.footer-left ul li a{
	color:#FFF;
	font-size:14px;
}
.footer-left ul li a:hover{
	color:#DA491C;
	text-decoration:none;
}