/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: white;
  width: 100%;

}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}
